@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../img/MH3_bg.png");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  margin: 8px 0;
}

h2 {
  font-family: "Oswald", sans-serif;
}

.toggle {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
  border-radius: 34px;
  background-color: #ccd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  top: 4px;
  left: 4px;
  transition: transform 0.3s;
}

.toggle.on {
  background-color: #66bb6a;
}

.toggle.on::before {
  transform: translateX(26px);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.data-loader {
  position: absolute;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: opacity 500ms ease-out;

  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.loader-blur-effect {
  background-color: rgba(255, 255, 255, 0.3);
  /* backdrop-filter: blur(2px); */
}

.slot-label {
  font-optical-sizing: auto;
  font-style: normal;
  text-align: left;
  width: 100%;
  padding-left: 12px;
  margin-bottom: 6px;
}

.card-default {
  webkit-box-shadow: 0px -2px 12px 12px rgba(24, 51, 53, 0.3);
  -moz-box-shadow: 0px -2px 12px 12px rgba(24, 51, 53, 0.3);
  box-shadow: 0px -2px 12px 12px rgba(24, 51, 53, 0.3);
  border-radius: 12px;
  /* margin-bottom: 8px; */
  /* max-width: none; */
}

.common-all {
  position: relative;
}

#common-set {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 335px;
}

#uncommon-set {
  position: relative;
}

.position-1 {
  position: absolute;
  top: 228px;
}

.position-2 {
  position: absolute;
  top: 188px;
  z-index: -2;
}

.position-3 {
  position: absolute;
  top: 148px;
  z-index: -3;
}

.position-4 {
  position: absolute;
  top: 108px;
  z-index: -4;
}

.position-5 {
  position: absolute;
  top: 68px;
  z-index: -5;
}

.position-6 {
  position: absolute;
  top: 28px;
  z-index: -6;
}

/* Hiding all text in the extra commons */
/* #uncommon-set>div>div::not(:last-child), */
#common-set > div > div {
  display: none;
}

.effect-block {
  position: relative;
  /* width: 240px; */
  height: auto;
}

.foil-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #eee;
  padding: 10px;
  width: 230px;
  /* border: 1px solid white; */
  margin: 8px;
  width: 93%;
  height: 95%;
  border-radius: 5px;
  padding: -18px;
  background: rgb(69, 237, 12);
  background: linear-gradient(
    138deg,
    rgba(69, 237, 12, 0.25) 2%,
    rgba(38, 38, 222, 0.25) 48%,
    rgba(176, 22, 210, 0.25) 70%,
    rgba(4, 124, 197, 0.25) 87%,
    rgba(0, 212, 255, 0.25) 100%
  );
  backdrop-filter: brightness(1.1);
  filter: brightness(1.1);
}

.ghost-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #eee;
  padding: 10px;

  border-radius: 12px;
  backdrop-filter: saturate(0) brightness(1.75) contrast(0.75);
}

.shine-holder {
  padding: 6px;
  border-radius: 16px;
  position: relative;
  left: -6px;
  top: 25px;
  /* right: 0;
    bottom: 0; */
  overflow: hidden;
  z-index: -1;
  /* position: relative; */
  margin-right: -12px;
}

.shine {
  z-index: -2;
  position: absolute;
  left: -75%;
  top: -50%;
  width: 225%;
  height: 200%;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  background: linear-gradient(138deg, rgba(93, 241, 159, 0.4) 50%, rgb(255, 221, 0) 90%);
  animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  -webkit-animation: spin 4s linear infinite;
  -ms-animation: spin 4s linear infinite;
}

@media (max-width: 600px) {
  .shine-holder {
    padding: 3px;
    left: -5px;
    top: 25px;
    margin-right: -8px;
    border-radius: 13px;
  }
}

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotateZ(0deg);
  }

  to {
    -moz-transform: rotateZ(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateZ(0deg);
  }

  to {
    -webkit-transform: rotateZ(360deg);
  }
}
