@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../img/MH3_bg.png");
    background-attachment: fixed;
    background-size: cover;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    margin: 8px 0;
}

h2 {
    font-family: "Oswald", sans-serif;
}

.data-loader {
    position: absolute;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;

    transition: opacity 500ms ease-out;
    background-color: #dddddd;
    background-position: 10px 0, 10px 0, 0 0, 0 0;
    background-size: 20px 20px;
    background-repeat: repeat;

}

.slot-label {
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    width: 100%;
    padding-left: 12px;
    margin-bottom: 4px;
}

.card-default {
    webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-bottom: 8px;
    /* max-width: none; */
}

.common-all {
    position: relative;
}

#common-set {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 335px;
}

#uncommon-set {
    position: relative;
}

.position-1 {
    position: absolute;
    top: 228px;
}

.position-2 {
    position: absolute;
    top: 188px;
    /* height: 335px;
    width: 240px; */
    z-index: -2;
}

.position-3 {
    position: absolute;
    top: 148px;
    z-index: -3;
}

.position-4 {
    position: absolute;
    top: 108px;
    z-index: -4;
}

.position-5 {
    position: absolute;
    top: 68px;
    z-index: -5;
}

.position-6 {
    position: absolute;
    top: 28px;
    z-index: -6;
}


/* Hiding all text in the extra commons */
/* #uncommon-set>div>div::not(:last-child), */
#common-set>div>div {
    display: none;
}

.foil-block {
    position: relative;
    /* width: 240px; */
    height: auto;
}

.foil-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #EEE;
    padding: 10px;
    width: 230px;
    /* border: 1px solid white; */
    margin: 8px;
    width: 93%;
    height: 95%;
    border-radius: 5px;
    padding: -18px;
    background: rgb(69, 237, 12);
    background: linear-gradient(138deg, rgba(69, 237, 12, 0.25) 2%, rgba(38, 38, 222, 0.25) 48%, rgba(176, 22, 210, 0.25) 70%, rgba(4, 124, 197, 0.25) 87%, rgba(0, 212, 255, .25) 100%);
    backdrop-filter: brightness(1.1);
    filter: brightness(1.1);
}